In [1]:
import pandas as pd
import numpy as np

# 데이터셋 불러오기
df = pd.read_excel("k_datasets/2023_daegu.xlsx", engine="openpyxl")
print(df.shape)
df.head()

(35, 76)

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-67,LABEL-68,LABEL-69,LABEL-70,LABEL-71,LABEL-72,LABEL-73,LABEL-74,LABEL-75,LABEL-76
0,1,포항vs대구,AWAY,2,1,9,4,3,2,6,...,46,28,17,51,19,4,16,9,3,0
1,2,대구vs제주,HOME,1,0,13,3,2,8,6,...,45,18,25,61,20,4,19,13,2,0
2,3,강원vs대구,AWAY,1,1,14,6,1,7,8,...,46,30,19,76,20,13,14,13,1,0
3,4,대구vs전북,HOME,2,1,12,7,2,3,9,...,59,19,19,46,21,4,15,10,5,0
4,5,인천vs대구,AWAY,0,0,6,3,2,1,1,...,44,25,24,58,17,7,12,9,1,0

컬럼명 가져오기

In [2]:
names = pd.read_excel("k_datasets/K_columns.xlsx", engine="openpyxl")
print(names.shape)
names.head()

(2, 48)

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-39,LABEL-40,LABEL-41,LABEL-42,LABEL-43,LABEL-44,LABEL-45,LABEL-46,LABEL-47,LABEL-48
0,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,블락,볼미스,파울,피파울,경고,퇴장,NaN,NaN,NaN,NaN
1,시도,성공,성공%,시도,성공,성공%,시도,성공,성공%,시도,...,성공%,시도,성공,성공%,시도,성공,성공%,시도,성공,성공%

In [3]:
# 크기 맞춰주기
temp = names.drop(columns=['LABEL-45','LABEL-46','LABEL-47','LABEL-48'])
temp

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-35,LABEL-36,LABEL-37,LABEL-38,LABEL-39,LABEL-40,LABEL-41,LABEL-42,LABEL-43,LABEL-44
0,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
1,시도,성공,성공%,시도,성공,성공%,시도,성공,성공%,시도,...,성공,성공%,시도,성공,성공%,시도,성공,성공%,시도,성공

In [8]:
# 컬럼명 가져와서 리스트로 저장
rows = temp.iloc[0].to_list()
print(len(rows))
print(rows)

44
['Rnd.', '대회', 'H/A', '득점', '도움', '슈팅', '유효 슈팅', '블락된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅', '프리킥 슈팅', '프리킥 유효슈팅', '프리킥 크로스', '오프사이드', '코너킥', '스로인', '드리블', '패스', '키패스', '전방패스', '후방패스', '횡패스', '공격진영 패스', '수비진영 패스', '중앙진영 패스', '롱패스', '중거리패스', '단거리패스', '크로스', '탈압박', '경합 지상', '경합 공중', '태클', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

컬럼명 붙여넣기

In [5]:
# 컬럼 개수를 먼저 맞춰준다
drop_columns = ['14', '15','20','21','23','24','27', '28' ,'30' ,'31' ,'33' ,'34', '36', '37', '39', '40','42', '43' ,'45',
               '46' ,'48', '49' ,'51' ,'52' ,'54', '55', '58', '59', '61', '62', '64', '65']
for idx in (drop_columns):
    df = df.drop(columns=[f'LABEL-{idx}'])

In [6]:
# 확인
print(df.shape)
print(df.columns)
df.head()

(35, 44)
Index(['LABEL-1', 'LABEL-2', 'LABEL-3', 'LABEL-4', 'LABEL-5', 'LABEL-6',
       'LABEL-7', 'LABEL-8', 'LABEL-9', 'LABEL-10', 'LABEL-11', 'LABEL-12',
       'LABEL-13', 'LABEL-16', 'LABEL-17', 'LABEL-18', 'LABEL-19', 'LABEL-22',
       'LABEL-25', 'LABEL-26', 'LABEL-29', 'LABEL-32', 'LABEL-35', 'LABEL-38',
       'LABEL-41', 'LABEL-44', 'LABEL-47', 'LABEL-50', 'LABEL-53', 'LABEL-56',
       'LABEL-57', 'LABEL-60', 'LABEL-63', 'LABEL-66', 'LABEL-67', 'LABEL-68',
       'LABEL-69', 'LABEL-70', 'LABEL-71', 'LABEL-72', 'LABEL-73', 'LABEL-74',
       'LABEL-75', 'LABEL-76'],
      dtype='object')

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-67,LABEL-68,LABEL-69,LABEL-70,LABEL-71,LABEL-72,LABEL-73,LABEL-74,LABEL-75,LABEL-76
0,1,포항vs대구,AWAY,2,1,9,4,3,2,6,...,46,28,17,51,19,4,16,9,3,0
1,2,대구vs제주,HOME,1,0,13,3,2,8,6,...,45,18,25,61,20,4,19,13,2,0
2,3,강원vs대구,AWAY,1,1,14,6,1,7,8,...,46,30,19,76,20,13,14,13,1,0
3,4,대구vs전북,HOME,2,1,12,7,2,3,9,...,59,19,19,46,21,4,15,10,5,0
4,5,인천vs대구,AWAY,0,0,6,3,2,1,1,...,44,25,24,58,17,7,12,9,1,0

In [7]:
# 컬럼명 붙여넣기
df.columns = rows
df.tail(3)

,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,클리어링,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장
32,33,대구vs수원FC,HOME,2,2,11,4,4,3,6,...,19,30,13,61,14,12,14,12,2,0
33,34,대구vs전북,HOME,1,1,22,8,7,7,14,...,39,41,14,66,26,9,6,9,3,0
34,35,울산vs대구,AWAY,0,0,6,4,0,2,4,...,40,28,16,52,27,6,7,8,2,0

한글을 영어로 바꾸기

In [9]:
# 홈/어웨이 데이터 합치기, 컬럼 수 줄이기