In [1]:
from glob import glob

import pandas as pd


datas = glob('k_datasets/*.xlsx')

teams = [xlsx.split('_')[-2] for xlsx in datas[:12]]

df = pd.read_excel(f'{datas[0]}', engine='openpyxl')

df['기준'] = teams[0]

for xlsx in datas[1:12]:
    team_name = xlsx.split('_')[-2]
    df_temp = pd.read_excel(f'{xlsx}', engine="openpyxl")
    df_temp["기준"] = f'{team_name}'
    df = pd.concat([df, df_temp])
print(df.shape)
df.tail()

(420, 77)

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-68,LABEL-69,LABEL-70,LABEL-71,LABEL-72,LABEL-73,LABEL-74,LABEL-75,LABEL-76,기준
30,31,수원FCvs울산,AWAY,3,3,9,8,0,1,6,...,40,20,47,17,11,10,9,1,0,ulsan
31,32,포항vs울산,AWAY,0,0,4,1,0,3,2,...,31,29,52,20,5,11,11,5,0,ulsan
32,33,울산vs인천,HOME,0,0,9,2,1,6,5,...,43,12,42,16,7,7,2,2,0,ulsan
33,34,광주vs울산,AWAY,0,0,17,5,6,6,6,...,38,18,58,11,11,16,6,1,0,ulsan
34,35,울산vs대구,HOME,2,2,12,5,2,5,5,...,34,24,59,11,7,8,7,1,0,ulsan

In [2]:
df["기준"].value_counts()

daegu      35
daejeon    35
gwangju    35
incheon    35
jeju       35
junbuk     35
kangwon    35
pohang     35
seoul      35
suwonFC    35
suwon      35
ulsan      35
Name: 기준, dtype: int64

In [3]:
names = pd.read_excel(f'{datas[-1]}', engine="openpyxl")
print(names.shape)
names.head()

(2, 48)

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-39,LABEL-40,LABEL-41,LABEL-42,LABEL-43,LABEL-44,LABEL-45,LABEL-46,LABEL-47,LABEL-48
0,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,블락,볼미스,파울,피파울,경고,퇴장,NaN,NaN,NaN,NaN
1,시도,성공,성공%,시도,성공,성공%,시도,성공,성공%,시도,...,성공%,시도,성공,성공%,시도,성공,성공%,시도,성공,성공%

In [5]:
# K_columns 크기 맞춰주기
temp = names.drop(columns=['LABEL-45','LABEL-46','LABEL-47','LABEL-48'])

# 컬럼명 가져와서 리스트로 저장
rows = temp.iloc[0].to_list()
print(len(rows))
print(rows)

44
['Rnd.', '대회', 'H/A', '득점', '도움', '슈팅', '유효 슈팅', '블락된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅', '프리킥 슈팅', '프리킥 유효슈팅', '프리킥 크로스', '오프사이드', '코너킥', '스로인', '드리블', '패스', '키패스', '전방패스', '후방패스', '횡패스', '공격진영 패스', '수비진영 패스', '중앙진영 패스', '롱패스', '중거리패스', '단거리패스', '크로스', '탈압박', '경합 지상', '경합 공중', '태클', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

In [6]:
# df의 컬럼 개수를 먼저 맞춰준다
drop_columns = ['14', '15','20','21','23','24','27', '28' ,'30' ,'31' ,'33' ,'34', '36', '37', '39', '40','42', '43' ,'45',
               '46' ,'48', '49' ,'51' ,'52' ,'54', '55', '58', '59', '61', '62', '64', '65']
for idx in (drop_columns):
    df = df.drop(columns=[f'LABEL-{idx}'])

# 확인
print(df.shape)
# print(df.columns)
df.head()

(420, 45)

,LABEL-1,LABEL-2,LABEL-3,LABEL-4,LABEL-5,LABEL-6,LABEL-7,LABEL-8,LABEL-9,LABEL-10,...,LABEL-68,LABEL-69,LABEL-70,LABEL-71,LABEL-72,LABEL-73,LABEL-74,LABEL-75,LABEL-76,기준
0,1,포항vs대구,AWAY,2,1,9,4,3,2,6,...,28,17,51,19,4,16,9,3,0,daegu
1,2,대구vs제주,HOME,1,0,13,3,2,8,6,...,18,25,61,20,4,19,13,2,0,daegu
2,3,강원vs대구,AWAY,1,1,14,6,1,7,8,...,30,19,76,20,13,14,13,1,0,daegu
3,4,대구vs전북,HOME,2,1,12,7,2,3,9,...,19,19,46,21,4,15,10,5,0,daegu
4,5,인천vs대구,AWAY,0,0,6,3,2,1,1,...,25,24,58,17,7,12,9,1,0,daegu

In [9]:
print(df.columns)
print(rows)

Index(['LABEL-1', 'LABEL-2', 'LABEL-3', 'LABEL-4', 'LABEL-5', 'LABEL-6',
       'LABEL-7', 'LABEL-8', 'LABEL-9', 'LABEL-10', 'LABEL-11', 'LABEL-12',
       'LABEL-13', 'LABEL-16', 'LABEL-17', 'LABEL-18', 'LABEL-19', 'LABEL-22',
       'LABEL-25', 'LABEL-26', 'LABEL-29', 'LABEL-32', 'LABEL-35', 'LABEL-38',
       'LABEL-41', 'LABEL-44', 'LABEL-47', 'LABEL-50', 'LABEL-53', 'LABEL-56',
       'LABEL-57', 'LABEL-60', 'LABEL-63', 'LABEL-66', 'LABEL-67', 'LABEL-68',
       'LABEL-69', 'LABEL-70', 'LABEL-71', 'LABEL-72', 'LABEL-73', 'LABEL-74',
       'LABEL-75', 'LABEL-76', '기준'],
      dtype='object')
['Rnd.', '대회', 'H/A', '득점', '도움', '슈팅', '유효 슈팅', '블락된슈팅', '벗어난슈팅', 'PA내 슈팅', 'PA외 슈팅', '프리킥 슈팅', '프리킥 유효슈팅', '프리킥 크로스', '오프사이드', '코너킥', '스로인', '드리블', '패스', '키패스', '전방패스', '후방패스', '횡패스', '공격진영 패스', '수비진영 패스', '중앙진영 패스', '롱패스', '중거리패스', '단거리패스', '크로스', '탈압박', '경합 지상', '경합 공중', '태클', '클리어링', '인터셉트', '차단', '획득', '블락', '볼미스', '파울', '피파울', '경고', '퇴장']

In [16]:
for idx, column in enumerate(df.columns[:-1]):
    df = df.rename(columns={f"{column}": f"{rows[idx]}"})

In [19]:
print(df.shape)
df

(420, 45)

,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,인터셉트,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,기준
0,1,포항vs대구,AWAY,2,1,9,4,3,2,6,...,28,17,51,19,4,16,9,3,0,daegu
1,2,대구vs제주,HOME,1,0,13,3,2,8,6,...,18,25,61,20,4,19,13,2,0,daegu
2,3,강원vs대구,AWAY,1,1,14,6,1,7,8,...,30,19,76,20,13,14,13,1,0,daegu
3,4,대구vs전북,HOME,2,1,12,7,2,3,9,...,19,19,46,21,4,15,10,5,0,daegu
4,5,인천vs대구,AWAY,0,0,6,3,2,1,1,...,25,24,58,17,7,12,9,1,0,daegu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,31,수원FCvs울산,AWAY,3,3,9,8,0,1,6,...,40,20,47,17,11,10,9,1,0,ulsan
31,32,포항vs울산,AWAY,0,0,4,1,0,3,2,...,31,29,52,20,5,11,11,5,0,ulsan
32,33,울산vs인천,HOME,0,0,9,2,1,6,5,...,43,12,42,16,7,7,2,2,0,ulsan
33,34,광주vs울산,AWAY,0,0,17,5,6,6,6,...,38,18,58,11,11,16,6,1,0,ulsan
34,35,울산vs대구,HOME,2,2,12,5,2,5,5,...,34,24,59,11,7,8,7,1,0,ulsan

# --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [21]:
df["승패"] = None
df.head(2)

,Rnd.,대회,H/A,득점,도움,슈팅,유효 슈팅,블락된슈팅,벗어난슈팅,PA내 슈팅,...,차단,획득,블락,볼미스,파울,피파울,경고,퇴장,기준,승패
0,1,포항vs대구,AWAY,2,1,9,4,3,2,6,...,17,51,19,4,16,9,3,0,daegu,None
1,2,대구vs제주,HOME,1,0,13,3,2,8,6,...,25,61,20,4,19,13,2,0,daegu,None

In [ ]:
a = df[(df["LABEL-2"] == "포항vs대구") & (df["LABEL-1"] == 1) & (df["LABEL-3"] == "AWAY")]["LABEL-4"]

In [ ]:
b = df[(df["LABEL-2"] == "포항vs대구") & (df["LABEL-1"] == 1) & (df["LABEL-3"] == "HOME")]["LABEL-4"]

In [ ]:
for i in df["LABEL-2"].value_counts().index.tolist():
    for j in range(10):
        a = df[(df["LABEL-2"] == i) & (df["LABEL-1"] == j) & (df["LABEL-3"] == "HOME")]["LABEL-4"]
        if len(a) > 0:
            print(i, a)

대구vs제주 1    1
Name: LABEL-4, dtype: int64
제주vs전북 7    0
Name: LABEL-4, dtype: int64
수원vs제주 6    2
Name: LABEL-4, dtype: int64
강원vs제주 5    0
Name: LABEL-4, dtype: int64
제주vs서울 3    1
Name: LABEL-4, dtype: int64
제주vs수원FC 0    0
Name: LABEL-4, dtype: int64
강원vs인천 6    0
Name: LABEL-4, dtype: int64
전북vs인천 5    2
Name: LABEL-4, dtype: int64
인천vs제주 2    1
Name: LABEL-4, dtype: int64
서울vs인천 0    2
Name: LABEL-4, dtype: int64
서울vs울산 2    1
Name: LABEL-4, dtype: int64
강원vs서울 8    3
Name: LABEL-4, dtype: int64
강원vs울산 1    0
Name: LABEL-4, dtype: int64
전북vs포항 4    1
Name: LABEL-4, dtype: int64
전북vs수원 1    1
Name: LABEL-4, dtype: int64
울산vs전북 0    2
Name: LABEL-4, dtype: int64
전북vs대전 8    1
Name: LABEL-4, dtype: int64
대전vs서울 4    3
Name: LABEL-4, dtype: int64
수원vs대전 3    1
Name: LABEL-4, dtype: int64
인천vs대전 1    3
Name: LABEL-4, dtype: int64
광주vs강원 7    0
Name: LABEL-4, dtype: int64
포항vs광주 5    2
Name: LABEL-4, dtype: int64
광주vs인천 3    5
Name: LABEL-4, dtype: int64
서울vs대구 5    3
Name: LABEL-4, dtype: int64
대구vs전북 3    2
Name: LABEL-4, dtype: int64
인천vs대구 4    0
Name: LABEL-4, dtype: int64
수원FCvs대구 8    1
Name: LABEL-4, dtype: int64
수원FCvs수원 2    2
Name: LABEL-4, dtype: int64
울산vs수원FC 3    3
Name: LABEL-4, dtype: int64
포항vs강원 3    1
Name: LABEL-4, dtype: int64
수원vs강원 4    1
Name: LABEL-4, dtype: int64
강원vs대구 2    1
Name: LABEL-4, dtype: int64
울산vs수원 5    2
Name: LABEL-4, dtype: int64
포항vs수원 8    1
Name: LABEL-4, dtype: int64
수원FCvs포항 1    1
Name: LABEL-4, dtype: int64
서울vs수원 7    3
Name: LABEL-4, dtype: int64
대구vs광주 6    3
Name: LABEL-4, dtype: int64
포항vs서울 6    1
Name: LABEL-4, dtype: int64
울산vs포항 7    2
Name: LABEL-4, dtype: int64
대구vs대전 7    1
Name: LABEL-4, dtype: int64
광주vs제주 8    0
Name: LABEL-4, dtype: int64
대전vs강원 0    2
Name: LABEL-4, dtype: int64
광주vs수원FC 4    2
Name: LABEL-4, dtype: int64
전북vs광주 2    2
Name: LABEL-4, dtype: int64
광주vs서울 1    0
Name: LABEL-4, dtype: int64
수원vs광주 0    0
Name: LABEL-4, dtype: int64
인천vs수원FC 7    2
Name: LABEL-4, dtype: int64
인천vs울산 8    0
Name: LABEL-4, dtype: int64
제주vs울산 4    1
Name: LABEL-4, dtype: int64
대전vs울산 6    2
Name: LABEL-4, dtype: int64
수원FCvs대전 5    5
Name: LABEL-4, dtype: int64
대전vs포항 2    0
Name: LABEL-4, dtype: int64
수원FCvs전북 6    1
Name: LABEL-4, dtype: int64
포항vs대구 0    3
Name: LABEL-4, dtype: int64

In [ ]:
df['Match'].value_counts()

수원FCvs서울    6
대전vs수원FC    6
포항vs인천      4
대구vs제주      4
제주vs전북      4
           ..
전북vs제주      2
수원FCvs전북    2
제주vs대구      2
대구vs수원      2
포항vs대구      2
Name: Match, Length: 132, dtype: int64

In [ ]:
df[df['Match'] == '인천vs대구']

,Rnd,Match,H/A,Score,Assist,Shooting,OnTarget,Blocked Shot,Missed Shot,PA Shoot,...,Clearing,Interception,Cut,Acquisition,Block,Ball miss,Foul,Foul-ed,Yellow Card,Red Card
4,5,인천vs대구,AWAY,0,0,6,3,2,1,1,...,44,25,24,58,17,7,12,9,1,0
25,26,인천vs대구,AWAY,1,0,7,2,0,5,5,...,22,28,23,53,16,8,9,11,1,0
4,5,인천vs대구,HOME,0,0,6,1,0,5,2,...,47,23,23,63,25,5,9,11,2,0
25,26,인천vs대구,HOME,3,3,12,5,1,6,6,...,33,27,27,43,18,9,11,9,3,0

In [ ]:
df[df['Match'] == '대구vs인천']

,Rnd,Match,H/A,Score,Assist,Shooting,OnTarget,Blocked Shot,Missed Shot,PA Shoot,...,Clearing,Interception,Cut,Acquisition,Block,Ball miss,Foul,Foul-ed,Yellow Card,Red Card
14,15,대구vs인천,HOME,2,2,13,5,0,8,8,...,40,30,10,38,19,6,7,12,0,0
14,15,대구vs인천,AWAY,2,2,17,3,3,11,8,...,26,37,18,55,9,7,13,7,1,0

In [ ]:
df[df['Match'] == '수원FCvs대전']

,Rnd,Match,H/A,Score,Assist,Shooting,OnTarget,Blocked Shot,Missed Shot,PA Shoot,...,Clearing,Interception,Cut,Acquisition,Block,Ball miss,Foul,Foul-ed,Yellow Card,Red Card
5,6,수원FCvs대전,AWAY,3,2,9,5,1,3,3,...,43,23,14,51,20,7,16,12,1,1
5,6,수원FCvs대전,HOME,5,4,19,12,3,4,8,...,38,31,17,68,13,9,12,14,2,0

In [ ]:
df[df['Match'] == '대전vs수원FC']

,Rnd,Match,H/A,Score,Assist,Shooting,OnTarget,Blocked Shot,Missed Shot,PA Shoot,...,Clearing,Interception,Cut,Acquisition,Block,Ball miss,Foul,Foul-ed,Yellow Card,Red Card
11,12,대전vs수원FC,HOME,2,1,10,7,0,3,6,...,45,33,18,72,32,10,18,10,3,0
28,29,대전vs수원FC,HOME,0,0,10,1,0,9,8,...,28,43,13,67,8,11,14,4,2,0
33,34,대전vs수원FC,HOME,1,1,16,4,3,9,10,...,31,41,15,65,16,5,9,9,0,0
11,12,대전vs수원FC,AWAY,1,1,19,6,4,9,13,...,48,35,18,69,13,7,11,18,1,0
28,29,대전vs수원FC,AWAY,1,1,10,3,0,7,5,...,49,25,20,55,25,5,5,14,3,0
33,34,대전vs수원FC,AWAY,1,1,13,6,2,5,8,...,50,33,18,44,12,8,9,9,2,0